a {
  text-decoration: none !important;
}

.h1-text {
  font-size: 16px;
  margin: 15px 0;
  color: #2c2c2c;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-left: 0px;
 
}

.h1-text i {
  background-color: #8355ad;
  color: #fff;
  width: 40px;
  height: 40px;
  box-shadow: 5px 14px 35px rgb(234 220 248);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin: 0 20px;
  border-radius: 5px;
  margin-left: 0px;
}

.container-team {
  width: 100%;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  
}

.box {
  width: 23.5%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 8px;
  position: relative;
  border-radius: 10px;
  float: left;
  max-height: 300px;
}

.top-bar {
  width: 50%;
  height: 4px;
  background: #8355ad;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}
.box .user-pic{
  width: 50px !important;
  height: 50px !important;
  font-size: 22px !important;
  margin-top: 10px;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.fa-check-circle {
  color: #17b667;
}

/* creating heart */
.heart {
  color: rgba(155, 155, 155);
}
.heart::before {
  content: "\f004";
  font-family: fontawesome;
  line-height: 30px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.3s;
}
.box .heart-btn:checked ~ .heart::before {
  color: #e41934;
}
.heart-btn {
  position: absolute;
  top: 25px;
  right: 20px;
  padding: 1rem;
  display: none;
}

.content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
.addBtn {
  padding: 12px;
  color: #fff;
  object-fit: cover;
  background: #8355ad;
  font-size: 17px;
  border-radius: 40px;
  margin-right: 22px;
}
.w-125p{
  width: 125px !important;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content-height {
  height: 180px;
  margin-top: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.content strong {
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}
.content p {

  font-size: 0.8rem;
  color: #7a7a7a;
  margin: 0px 0px 2px 0px;

}

#profileImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #6c757d;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 60px;
  margin: 0px 0;
}
.btn {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
}
.btn a i {
  margin-right: 9px;
  
}

.btn-color{
  border-radius: 20px;
  color: #f8f8f8;
	padding: 5px 20px;
  font-size: 0.6rem;
  background-color: #8355ad;
}
.btn a:hover {
  color: #fff;
  box-shadow: 2px 5px 15px rgba(80, 123, 252, 0.05);
  background-image: linear-gradient(62deg, #8355ad 0%, #b86bff 100%);
  transition: all ease 0.5s;
}


.add-project-button{
  box-shadow: rgb(0 0 0 / 17%) 0px -23px 25px 0px inset, rgb(0 0 0 / 15%) 0px -36px 30px 0px inset, rgb(0 0 0 / 10%) 0px -79px 40px 0px inset, rgb(0 0 0 / 6%) 0px 2px 1px, rgb(0 0 0 / 9%) 0px 4px 2px, rgb(0 0 0 / 9%) 0px 8px 4px, rgb(0 0 0 / 9%) 0px 16px 8px, rgb(0 0 0 / 9%) 0px 32px 16px;
  height: 250px;
}

.margin-right{
	margin-right: 10px;
	border: 1px;

  }

  .pagination{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
  }
  .pagination-arrow{
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 20px; */
	cursor: pointer;
  }

  .pagination-input{
	display: flex;
	justify-content: center;
	align-items: center;
	/* margin-top: 20px; */
	width: 30px;
  text-align: center;

  }
  
  .left-arrow{
	margin-right: 10px;
  }

  .right-arrow{
	margin-left: 10px;
  }

  .page-per-view{
	justify-content: center;
	align-items: center;
	/* margin-top: 20px; */
	width: 120px;
  margin: 10px;
  width: auto;
	
  }

  .brand-icon{
	margin-left: 10px;
  }

  .pagination-select{
	width: 40px;
	justify-content: center;
	align-items: center;
	/* margin-top: 20px; */
  }
  .modal-dialog-scrollable .modal-content{
    border-bottom: 0;
  }
  .assignPro{
    border: 1px solid #b7b7b7;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 4px;
    text-transform: capitalize;
    color: #7f7f7f;
  }
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
button.modal-close-btn{
  padding: 6px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 600;
    font-size: medium; 
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button.modal-close-btn:hover{
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgb(46 229 157 / 40%);
  color: #fff;
}

.user-btn{position: absolute;
  right: 0;
 
  top: 15px;}

  .team-socail a {
    color: #000;
    margin: 0px 5px;
    font-size: 20px;
}  
 