.rating_table{

&__rating_table{width: 100%;

    & .ant-table-cell{padding: 5px 7px !important; font-size: 13px !important; text-align: center;}
    & .ant-table-cell-fix-right-first{color: green;}
    & .ant-table-body{max-height: 62vh !important;}
    & .ant-table-thead > tr > th{background: #f5f5f5 !important; font-size: 13px !important; text-align: center;}
}
    
}