@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .spinner-container{    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;}
  .loading-spinner {
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #8355ad; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }