/* .table-wrapper {
  overflow-x: auto;
} */
/* 
table {
  line-height: 1.3;
  border-collapse: collapse;
}*/
/* tr {
  background-color: #eee;
  border: 1px solid black;
}
td {
  border-right: 1px solid black;
}
th { */
}

/* th {
  text-align: left;
  position: sticky;
  top: 0; 
}*/

/* table th:first-child,
table td:first-child {
  position: sticky;
  padding-top: 6px;
  position: -webkit-sticky;
  left: 0;
  z-index: 1;
  display: block;
  width: 90px;
  background-color: #eee;
  border-right: 1px solid black;
}
table th:last-child,
table td:last-child {
  position: sticky;
  position: -webkit-sticky;
  right: 0;
  z-index: 1;
  background-color: #eee;
  border-right: 0;
  border-left: 1px solid black;
} */

/* .input_dashboard {
  margin: 0;
  padding: 0;
  width: 54px;
}

.customTable {
  width: 98vw;
  margin: 24px;
}
 */
 td {
  display: block;
  width: 52px;
 }
 .input_dashboard {
  margin: 0;
  padding: 0;
  border-radius: 4px;
  text-align: center;
  width: 100%;
}