.nextui-c-hhqfap-ieQnWyR-css {
    background: linear-gradient(rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0)) !important;
}

.nextui-navbar-container{
    background-color: #9ec6e1 !important;
}
.css-1wvake5{
    height: 100%;
    width: 180px !important;
    min-width: 180px !important;
    margin-right: 15px;
}
.ps-sidebar-root .css-dip3t8{
    width: 13%;
    position: fixed;
    top: 0;
}