.addUserFrom {
  background: #fff;
  padding: 24px;
  border-radius: 10px;
}

.text-right {
  text-align: right;
}

.was-validated .form-control:valid,
.form-control.is-valid {

  background-position: right calc(0.375em + 10px) center !important;
}