.addUserFrom{
margin: auto !important;
    margin-left: 31% !important;
    width: 50% ;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}
.form-group {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.form-group {
  margin-bottom: 1rem !important;
}
input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #4da6ff;
}

.submit-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #4da6ff;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background-color: #0077cc;
}

.edit{
	margin-left: 10px;
}
