.user-icon{
	 display: flex;
	 align-items: center;
	 justify-content: center;
}
 .user-icon .user-pic{
	border: none !important; 
}
.profile-modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* scroll */
	overflow-y: scroll;
}

.skip-button{
	margin-left: 10px;
}
.user-text-name {
    max-width: 200px;
}